<h2>Welcome to the HWSETA</h2>
<p>
Skills development is a national priority for South Africa and meeting the country’s skills needs requires collaboration between numerous public and government entities, educational institutions, training providers,as well as private organisations, no matter how big or small.
</p>
<p>     
South Africa’s economy is divided into functional sectors and each of these sectors is represented by one of 21 Sector Education Training Authorities (SETAs). The Health and Welfare Sector Education and Training Authority (HWSETA) is responsible for the education, training and skills development requirements of the health, social development and veterinary sectors.
</p> 
